img {
    max-width: 100%;
    height: auto;
}

body {
    background: radial-gradient(174.44% 174.44% at 51.32% 156.06%,#1d0033 0,#08000e 100%);
    color: #f7af06;
}
.container {
    max-width: 1339px;
    padding: 0 15px;
    margin: 0 auto;
}